
header{

    color: yellow;
    text-align: center;
        
}
/* Body*/

body {
  
  font-family: 'Roboto Slab', serif;
  color: #240f20;
  max-width: 90%;
  margin: auto;
  padding: 0;
  background-color: rgba(201, 194, 194, 0.897);
  background-image: url(https://tipsmake.com/data/images/100-most-beautiful-background-picture-2-O1DlX9Nzx.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 100vh;
} 

/*INTRO*/

.intro{
    text-align: center;

}
    
#date{
    margin-bottom: 0%;
    white-space:nowrap;
}
#name{
}
    /*INTRO TEXTE*/

.text{
    text-align: center;

}
    
/* Titles*/
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
hr.new1 {
    width: 62%;
    margin:center;
}
hr.new2 {
    width:14%; 
    margin: center;
}
hr.new3 {
    width: 16%;
    margin: center;
}

h3{
    text-align: center;

}
q {
  font-size: 14px;
  font-family: 'Roboto Slab', serif;
  color: #240f20;
  font-style: italic;
  font-weight: bold;  
}
/* List*/

ul {
    display: inline-block;
}

ul li{
    margin:auto;
    padding-right: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
         
}
/* BACKGROUND IMAGES(cat,good,bad)*/

<<<<<<< HEAD
.{
    list-style-image: url(https://github.com/GuyRichardib/travail/blob/main/bien.png?raw=true);
    
=======
#good{
    list-style-image: url(https://github.com/GuyRichardib/travail/blob/main/bien.png?raw=true)

>>>>>>> f909eb46b38f203900e7d09995afcef7e38ccbef
}
.bad{
    background-image: url(https://github.com/GuyRichardib/travail/blob/main/mal.png?raw=true);
    
}

}.cats{
    list-style-image: url(https://github.com/GuyRichardib/travail/blob/main/chat.png?raw=true) ;

}
.none{
    
}
img.photo{
    width: 100%;
    border: 2px solid rgb(236, 227, 240);
  } 
*/

/* Paragraph*/
p {
	
    line-height: 2.5;
    margin-bottom: 4em;
}


figure {
  border: 1px #cccccc solid;
  padding: 4px;
  margin: auto;
  
}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
  width: 100%;
  
}
/* Table*/

table, th, td {
  border: 1px solid black;
  width: 700px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.grey {
    background-color: grey;
}
.white{
    background-color: white;

/*  Link*/

}
a:link {
    color: rgb(255, 0, 234);
  }

a:visited {
    color: green;
  }

a:hover {
    color: rgb(105, 255, 255);
}
a:active{

    color: rgb(255, 196, 0);
    text-decoration: underline;
}
/* Quotes*/

blockquote{
    
    margin: auto;
    font-size:160%;
    font-style: italic;
    font-weight: bold;
    padding: 30x;
    background-color: rgb(192, 192, 192);
    margin-top: 80px;
    margin-bottom: 80px;
    display: inline;  
}
/* ID(villager/farmer*/
#villagers{
    border-left: solid 3px firebrick;

}
#farmer{
    border-left: solid 3px rgb(23, 168, 31);

}
.Good{
    color: green;
    text-transform: capitalize;
}
.Bad{
    color: red;
}

#question{
    text-size-adjust: 20px;
    text-align: center;
}
/* FLEX BOX*/

.container{
    position: relative;
    flex-direction: column;
    height: 500px;
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    

}
.container .box{
    position: relative;
    
    box-sizing: border-box ;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    background: #dbdfeb;
    padding: 20px;
    margin: 15px;
    overflow: auto;
    display: flex;
}
.container .box .imgBx{
    max-width: 475px;
    flex: 0 0 475px; 
}

.container .box .imgBx img{
    max-width: 100%;

}
.container .box .content{
    margin-left: 20px;
}
.container .box p{
    margin: 0;
    padding: 10px 0 0;
    text-align: justify;
}
@media (max-width: 1000px){

    .container{
        flex-direction: column;

    }
    .container .box{
        flex-direction: column;
        max-width: 350px;
    }
    .container .box .imgBx{
        
        max-width: 100%;
    }
    .container .box .content{
        margin-left: 20px;
    }
}
/*CONCLUSION */
.conclusion{
    text-align: center;


}
/*FOOTER*/

footer{

text-align: center;
}